# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Django specific files
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3

# Environment files
.env
.env.*
*.env
*.env.*

# Django secret key
secret_key.txt

# Media and static files
media/
staticfiles/

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/
.venv/
venv.bak/

# IDE and editor folders
.vscode/
.idea/
*.swp
*.swo

# Mac OS X specific files
.DS_Store

# Windows specific files
Thumbs.db
Desktop.ini

# Others
*.sqlite3-journal
*.coverage
nosetests.xml
coverage.xml
*.tox
*.nox
*.hypothesis
.pytest_cache/
cover/

